*{
    margin: 0;
    padding: 0;
    background: transparent;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins';
    font-weight: 350;
}


body{
    background-color: aliceblue;
    overflow: hidden;
    overflow-y: scroll;
}